
#pictures {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 30px auto;
}

.picture {
  flex-grow: 1;
  margin: 15px;
  max-width: 600px;
  min-width: 300px;
  position: relative;
  border: 1px solid #ddd;
  box-shadow:
    2px 4px 0px rgba(0, 0, 0, 0.07),
    -2px 2px 0px rgba(0, 0, 0, 0.03);
}

.picture:first-child {
  box-shadow: none;
}

.picture__content {
  height: 0;
  padding-bottom: 100%;
  position: relative;
}