#canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#canvas svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.picture {
  margin: 20px auto;
  max-width: 400px;
  position: relative;
  box-shadow:
    3px 3px 7px rgba(0, 0, 0, 0.05),
    0px 0px 4px rgba(0, 0, 0, 0.1);
}

.picture__content {
  height: 0;
  padding-bottom: 100%;
  position: relative;
}